
#barra-busqueda{
  box-shadow:
    0 0 15px rgba(248, 248, 248, 0.25),
    0 0 20px rgba(255, 255, 255, 0.25);
  width: 99%;
}
input{
  background-color: #03050D;
  color: white;
  border: none;
  outline: none;
  min-width: 100%;//preguntar camilo porque siendo mayor que el max hace que
                  //
  max-width: 70%;
 }
input:focus{
}

.columna{
  background-color: #1c212b;
}
.gris{
  background-color: #242830;
  padding: 10px 30px;
  font-size: 12px;
  border-radius: 4px;
}
.rojo{
  background-color: #3c2a33;
  color: #C24741;
  font-size: 12px;
  padding: 10px 30px;
  position: relative;
  margin-right: 20px;
}
.noticias-footer{
  color: #3E434A;
}
img{
  width: 17px;
  margin-left: 5px;
  margin-right: 5px;
}
.caja-noticias{
  gap: 200px;
}
