<section >
  <div class="content">
    <div class="negro d-flex justify-content-between align-items-center pb-4">
      <img src="/img/logo_tienda_2.png">
      <i class=".equis bi bi-x-lg text-light" (click)="fnToggleMenu.emit()"></i>
    </div>


    <div class="drawer-nav d-flex flex-column gap-4">
      <p class="nav-link text-light fs-6 m-0 " routerLink="/tweets">Tweets</p>
      <p class="nav-link text-light fs-6 m-0 ">Herramientas</p>
      <p class="nav-link text-light fs-6 m-0 " routerLink="/airdrops">Airdrops</p>
    </div>

  </div>
</section>

