#container{
  width: 100%;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 999;
  display:flex;
  justify-content: center;
  align-items: center;
}

.content{
  background-color: #0f1118;
  width: 90%;
  max-width: 440px;
  padding: 40px;
  border-radius: 16px;
  position: relative;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);

}
h2{
  margin: 0 0 10px 0;
  font-size: 24px;
}
#registro:hover{
  text-decoration: underline;
  cursor: pointer;
}
form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  //width: 95%;
  //max-width: 550px;
}
.contenedor-password{
  display: flex;
  flex-direction: column;
  gap:8px;
}
.label-password .label-email{
  display: flex;
  align-items: center;
}
span{
  color:#538cea;
}
//#2762bd
.gris{
  color:#a8a9ab;
}
label{
  color: #afb0b2;
  font-size: 14px;
}

input{
  background-color: #101219;
  font-weight: 500;
  border:1px solid #292b34;
  color:#647082;
  padding:14px;
  border-radius: 6px;
  font-size: 15px;
  outline: none;
  width: 100%;
}
input:focus{
  border-color:#538cea;
}
.btn-primary{
  background-color: #2761bc;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}




input:focus {
  background-color: rgba(3, 5, 13, 0.01);
  color: #b3b3b7;
  border:none;
}










