.fondo{
  background-color: #03050D;
  width:100vw;
  height:100vh;
}
.content{
  width: 310px;
}
.caja{
  background-color: #1d212b;
  width: 100%;
  border-radius: 6px;
  padding:2px 5px 3px 5px ;
}
.gris{
  color: #acacac;
  font-size: 12px;
}
select{
  background-color: #1d212b;
  color: #acacac;
  outline: none;
  border: none  ;
  font-size: 12px;
}
input{
  background-color: #2a2e37;
  outline: none  ;
  border: none  ;
  color: #d9dade;
  font-size: 10px;
  width: 54px;
}
textarea{
  width: 100%;
  font-size: 12px;
  background-color:#1d212b ;
  color:#d2d3d5;
  border: none  ;
}
