<section>
    <div class="content">
      <div class="caja-salir d-flex justify-content-end">
        <button type="button" class="salir btn btn-danger close-btn" (click)="fnToggleProfile.emit()">
          <i class="bi bi-x-lg text-white"></i>
        </button>
      </div>

      <div class="primera-columna justify-content-start">
        <i class="icono-perfil bi bi-person-circle text-white"></i>
        <span class="text-light">{{ nombreDeUsuario() }}</span>
        <span (click)="logout()" class="logout" routerLink="/"> Cerrar sesión </span>
      </div>
      <div class="2-columna align-items-start justify-content-center mt-3">
        <h3 class="titulo">DATOS PERSONALES</h3>
        <div class="datos-personales d-block mb-2">
          <h5 class="subtitulo">Alias</h5>
          <span class="datos fw-bold">{{ nombreDeUsuario() }}</span>
          <h5 class="subtitulo">Correo</h5>
          <span class="datos fw-bold">{{emailDeUsuario()}}</span>
        </div>
        <h3 class="titulo">TUS TWEETS</h3>
        <!--      //abajo rev-->
        <div class="lista-tweets d-flex flex-column gap-3">
          @for(tweet of tweets(); track tweet.id){
            <div class="contenedor-tweet">
              <div class="contenedor-etiquetas d-flex gap-2 ">
                @if (tweet.tag1){
                  <span [ngClass]="getEstilo(tweet.tag1)">{{tweet.tag1}}</span>
                }
                @if (tweet.tag2){
                  <span [ngClass]="getEstilo(tweet.tag2)">{{tweet.tag2}}</span>
                }
                @if (tweet.tag3){
                  <span [ngClass]="getEstilo(tweet.tag3)">{{tweet.tag3}}</span>
                }
              </div>

              <p class="tweet-titulo mt-2">{{tweet.contenido}}</p>
              <p class="letra-token"><span class="etiqueta-token">Tokens: {{tweet.token}}</span> </p>
              <div class="">
                <span class="tweet-tiempo">{{tweet.fecha_creacion | date:'short'}}</span>
              </div>
            </div>
          } @empty {
            <p class="text-secondary">Aún no has públicado ningún tweet </p>
          }

        </div>
      </div>
    </div>
</section>

